# System and IDE files
Thumbs.db
.DS_Store
.idea
*.suo
*.sublime-project
*.sublime-workspace
*.vscode

# Vendors
client/node_modules/
server/node_modules/
node_modules/

# Build
dist/
client/dist/
server/dist/
/npm-debug.log

client/.babelrc
client/LICENSE
client/log.js
client/README.md
client/.odiumai.toml
client/.eslintrc.js
client/jest.config.ts
client/.hintrc




.babelrc
LICENSE
log.js
README.md
.codiumai.toml
.eslintrc.js
jest.config.ts

screenshot.png
misc/