# System and IDE files
Thumbs.db
.DS_Store
.idea
*.suo
*.sublime-project
*.sublime-workspace
*.vscode

# Vendors
node_modules/

# Build
dist/
/npm-debug.log

.babelrc
LICENSE
log.js
README.md
.codiumai.toml
.eslintrc.js
jest.config.ts

screenshot.png
misc/